@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@{
    var userName = User.Identity?.Name;
    var isAuthenticated = User.Identity?.IsAuthenticated ?? false;
    var isAdmin = User.IsInRole("Admin");
}

<ul class="navbar-nav ms-auto">
    @if (isAuthenticated && isAdmin)
    {
        <li class="nav-item">
            <span class="nav-link text-dark">Welcome, @userName</span>
        </li>
        <li class="nav-item">
            <form asp-controller="Account" asp-action="Logout" method="post" class="form-inline">
                <button type="submit" class="btn btn-link nav-link">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
        </li>
    }
</ul>
