@model Formula1InfoMVC.ViewModels.Driver.DriverFormViewModel
@{
    ViewData["Title"] = "Edit Driver";
}
<h1>Edit Driver</h1>

<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="DriverId" />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DateOfBirth" class="control-label"></label>
        <input asp-for="DateOfBirth" class="form-control" type="date" />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Nationality" class="control-label"></label>
        <input asp-for="Nationality" class="form-control" />
        <span asp-validation-for="Nationality" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UniqueNumber" class="control-label"></label>
        <input asp-for="UniqueNumber" class="form-control" />
        <span asp-validation-for="UniqueNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NumberOfChampionships" class="control-label"></label>
        <input asp-for="NumberOfChampionships" class="form-control" />
        <span asp-validation-for="NumberOfChampionships" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DriverImageUrl" class="control-label"></label>
        <input asp-for="DriverImageUrl" class="form-control" />
        <span asp-validation-for="DriverImageUrl" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TeamId" class="control-label"></label>
        <select asp-for="TeamId" asp-items="Model.Teams" class="form-control"></select>
        <span asp-validation-for="TeamId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
